.root {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: no-repeat center center / cover;
  cursor: pointer;
  transition: transform ease-linear;
}

.root:hover {
  .productImage {
    transform: scale(1.1);
  }

  .header .name,
  .header .price,
  .wishlistButton {
    background-color: var(--color-secondary);
    color: var(--color-text-secondary);
  }

  &:nth-child(6n + 1) .header .name,
  &:nth-child(6n + 1) .header .price,
  &:nth-child(6n + 1) .wishlistButton {
    background-color: var(--color-violet);
    color: var(--color-text-white);
  }

  &:nth-child(6n + 5) .header .name,
  &:nth-child(6n + 5) .header .price,
  &:nth-child(6n + 5) .wishlistButton {
    background-color: var(--color-blue);
    color: var(--color-text-white);
  }

  &:nth-child(6n + 3) .header .name,
  &:nth-child(6n + 3) .header .price,
  &:nth-child(6n + 3) .wishlistButton {
    background-color: var(--color-pink);
    color: var(--color-text-white);
  }

  &:nth-child(6n + 6) .header .name,
  &:nth-child(6n + 6) .header .price,
  &:nth-child(6n + 6) .wishlistButton {
    background-color: var(--color-cyan);
    color: var(--color-text-white);
  }
}

.header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 16px;
  background-color: var(--color-primary);
  color: var(--color-text-accent-9);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}

.header .name {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 4px;
}

.header .price {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.productImage {
  position:
  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease-in-out 0.3s;
  }
  
  .wishlistButton {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-text-accent-2);
  color: var(--color-text-accent-9);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
  }
  
  .wishlistButton:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  }
  
  .wishlistButton.added {
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  }
  
  /* End of code */